<a href="https://colab.research.google.com/github/darshinis/DataEngineerLearning/blob/develop/learning1/dailyPractise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [7]:
df = spark.read.option("mode","PERMISSIVE")\
              .json("/content/sample_data/anscombe.json")

In [8]:
df.show(5)

+------+----+----+---------------+
|Series|   X|   Y|_corrupt_record|
+------+----+----+---------------+
|  null|null|null|              [|
|     I|10.0|8.04|           null|
|     I| 8.0|6.95|           null|
|     I|13.0|7.58|           null|
|     I| 9.0|8.81|           null|
+------+----+----+---------------+
only showing top 5 rows

In [10]:
from pyspark.sql.functions import *

In [12]:
df.select(col("Series")).distinct().show(10)

+------+
|Series|
+------+
|  null|
|   III|
|    IV|
|    II|
|     I|
+------+

In [15]:
df.select(col("Series")).groupBy(col("Series")).count()

+------+-----+
|Series|count|
+------+-----+
|  null|    2|
|   III|   11|
|    IV|   11|
|    II|   11|
|     I|   11|
+------+-----+

In [16]:
df.count()

46

In [17]:
df.describe()

+-------+------+------------------+------------------+---------------+
|summary|Series|                 X|                 Y|_corrupt_record|
+-------+------+------------------+------------------+---------------+
|  count|    44|                44|                44|              2|
|   mean|  null|               9.0| 7.500454545454546|           null|
| stddev|  null|3.1988369979626783|1.9592439863084525|           null|
|    min|     I|               4.0|               3.1|              [|
|    max|    IV|              19.0|             12.74|              ]|
+-------+------+------------------+------------------+---------------+

In [31]:
#creating column with default value
df.withColumn("status",lit("In status")).show(5)

+------+----+----+---------------+---------+
|Series|   X|   Y|_corrupt_record|   status|
+------+----+----+---------------+---------+
|  null|null|null|              [|In status|
|     I|10.0|8.04|           null|In status|
|     I| 8.0|6.95|           null|In status|
|     I|13.0|7.58|           null|In status|
|     I| 9.0|8.81|           null|In status|
+------+----+----+---------------+---------+
only showing top 5 rows

In [23]:
df.show(5)

+------+----+----+---------------+
|Series|   X|   Y|_corrupt_record|
+------+----+----+---------------+
|  null|null|null|              [|
|     I|10.0|8.04|           null|
|     I| 8.0|6.95|           null|
|     I|13.0|7.58|           null|
|     I| 9.0|8.81|           null|
+------+----+----+---------------+
only showing top 5 rows

In [28]:
#creating columns based on conditions
# when(condition for TRUE case,value).otherwise(ELSE case value)
df.withColumn("Rating",when(col("X")>8,"in range").otherwise("in margin")).show(5)

+------+----+----+---------------+---------+
|Series|   X|   Y|_corrupt_record|   Rating|
+------+----+----+---------------+---------+
|  null|null|null|              [|in margin|
|     I|10.0|8.04|           null| in range|
|     I| 8.0|6.95|           null|in margin|
|     I|13.0|7.58|           null| in range|
|     I| 9.0|8.81|           null| in range|
+------+----+----+---------------+---------+
only showing top 5 rows