<a href="https://colab.research.google.com/github/darshinis/DataEngineerLearning/blob/main/learning1/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [39]:
# Downloading and preprocessing Cars Data downloaded origianlly from https://perso.telecom-paristech.fr/eagan/class/igr204/datasets
!wget https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv

--2023-12-03 14:30:48--  https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobceles.github.io (jacobceles.github.io)... 185.199.111.153, 185.199.108.153, 185.199.109.153, ...
Connecting to jacobceles.github.io (jacobceles.github.io)|185.199.111.153|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv [following]
--2023-12-03 14:30:48--  https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobcelestine.com (jacobcelestine.com)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to jacobcelestine.com (jacobcelestine.com)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22608 (22K) [text/csv]
Saving to: ‘cars.csv’

cars.csv            100%[===================>]  22.08K  --.-KB/s    in 0.006s

2023-12-03 14:30:48 (3.92 MB/s) - ‘cars.csv’ saved [22608/22608]

In [5]:
from pyspark.sql import SparkSession

In [8]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [31]:
sc = spark.sparkContext

In [41]:
df = spark.read.csv("cars.csv",header= True,sep= ";")

In [42]:
df.show(4,False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504. |12.0        |70   |US    |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693. |11.5        |70   |US    |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436. |11.0        |70   |US    |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433. |12.0        |70   |US    |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 4 rows

In [43]:
df.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [45]:
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

In [46]:
df.show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [49]:
df.groupBy("MPG").count().show(5)

+----+-----+
| MPG|count|
+----+-----+
|20.5|    3|
|34.4|    1|
|26.5|    1|
|36.1|    2|
|22.4|    1|
+----+-----+
only showing top 5 rows

In [51]:
df.groupBy("MPG").count().show(5)

+----+-----+
| MPG|count|
+----+-----+
|20.5|    3|
|34.4|    1|
|26.5|    1|
|36.1|    2|
|22.4|    1|
+----+-----+
only showing top 5 rows

In [52]:
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

In [53]:
from pyspark.sql.types import *

In [56]:
schema = StructType([
    StructField("Car_name",StringType(),True),
    StructField("MPG",FloatType(),True),
    StructField("Cylinders",IntegerType(),True),
    StructField("Displacement",FloatType(),True),
    StructField("Horsepower",FloatType(),True),
    StructField("Weight",FloatType(),True),
    StructField("Acceleration",FloatType(),True),
    StructField("Model",IntegerType(),True),
    StructField("Origin",StringType(),True),
])

In [60]:
df_1 = spark.read.format("csv")\
                 .option("header",True)\
                 .option("delimiter",";")\
                 .option("mode","PERMISSIVE")\
                 .schema(schema)\
                 .load("cars.csv")

In [61]:
df_1.show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|            Car_name| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|3504.0|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|3693.0|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|3436.0|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|3433.0|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0|3449.0|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [62]:
df_1.printSchema()

root
 |-- Car_name: string (nullable = true)
 |-- MPG: float (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: float (nullable = true)
 |-- Horsepower: float (nullable = true)
 |-- Weight: float (nullable = true)
 |-- Acceleration: float (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [65]:
df_1.count()

406

In [63]:
df_2 = spark.read.format("csv")\
                 .option("header",True)\
                 .option("delimiter",";")\
                 .option("mode","FAILFAST")\
                 .schema(schema)\
                 .load("cars.csv")

In [64]:
df_2.count()

406

In [66]:
# Actions
df_2.printSchema()

root
 |-- Car_name: string (nullable = true)
 |-- MPG: float (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: float (nullable = true)
 |-- Horsepower: float (nullable = true)
 |-- Weight: float (nullable = true)
 |-- Acceleration: float (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [67]:
df_2.count()

406

In [68]:
df_2.show(4)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|            Car_name| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|3504.0|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|3693.0|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|3436.0|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|3433.0|        12.0|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 4 rows

In [71]:
df_2.first()

Row(Car_name='Chevrolet Chevelle Malibu', MPG=18.0, Cylinders=8, Displacement=307.0, Horsepower=130.0, Weight=3504.0, Acceleration=12.0, Model=70, Origin='US')

In [73]:
from pyspark.sql.functions import *

In [76]:
df_3 = df_2.withColumn("category",when(col("Cylinders")>5,"below 5 value")\
                          .when(col("Cylinders")>8,"below 8 value")\
                          .when(col("Cylinders")>10,"below 10 value")\
                          .otherwise("above and equal to 10"))

In [77]:
df_3.show(5,False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+-------------+
|Car_name                 |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|category     |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+-------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504.0|12.0        |70   |US    |below 5 value|
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693.0|11.5        |70   |US    |below 5 value|
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436.0|11.0        |70   |US    |below 5 value|
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433.0|12.0        |70   |US    |below 5 value|
|Ford Torino              |17.0|8        |302.0       |140.0     |3449.0|10.5        |70   |US    |below 5 value|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+-------------+
only showing top 5 rows

In [82]:
df_3.select("Cylinders","category")\
    .groupBy("Cylinders","category")\
    .count()

+---------+--------------------+-----+
|Cylinders|            category|count|
+---------+--------------------+-----+
|        5|above and equal t...|    3|
|        8|       below 5 value|  108|
|        6|       below 5 value|   84|
|        4|above and equal t...|  207|
|        3|above and equal t...|    4|
+---------+--------------------+-----+

In [ ]:
df_3.select("")